@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}

body{
    background: #f3f3f3;
}

.wrapper{
    
    
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
}
.left{
    width: 1000px;
    height: 220px;
}
.wrapper .left{
    width: 100%;
    background: linear-gradient(to right, #1d1d1d, #595959);
    padding: 30px 25px;
    text-align: center;
    color: #fff;
}

.wrapper .left img{
    margin-bottom: 10px;
    border-radius: 50%;
}

.wrapper .left h4{
    margin-bottom: 10px;
    font-size: 30px;
}

.wrapper .left p{
    font-size: 20px;
}

.wrapper .right{
    background: #fff;
    padding: 30px 25px;
}
.wrapper .right .projects,
.wrapper .right .info{
    margin-bottom: 25px;
}

.wrapper .right .projects h3,
.wrapper .right .info h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #0f1011;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.wrapper .right .info_data,
.wrapper .right .projects_data{
    display: flex;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
    width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color:#353c4e;
    margin-bottom: 5px;
    font-size: 20px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
    font-size: 17px;
    margin-bottom: 10px;
    color: #919aa3;
}

/* ----------------- Update Form Css ---------------- */

.update_wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
}

.update_wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fec107;
    text-transform: uppercase;
    text-align: center;
}
.update_wrapper .form{
    width: 100%;
}
.update_wrapper .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.update_wrapper .form .input_field label{
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;

}
.update_wrapper .form .input_field .textarea,
.update_wrapper .form .input_field .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.update_wrapper .form .input_field .textarea{
    resize: none;
    height: 125px;
}
.update_wrapper .form .input_field .textarea:focus,
.update_wrapper .form .input_field .input:focus{
    border: 1px solid #fec107;
}

.update_wrapper .form .input_field:last-child{
    margin-bottom: 0;
}


.update_wrapper .form .input_field .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #e4ab01;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.update_wrapper .form .input_field .btn:hover{
    background: #ffd658;
}

.accordion-body{
    background-color: #f0f0f0;
}


.profile_img{
    height: 130px;
    width: 130px;
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

#photo{
    height: 100%;
    width: 100%;
}

#file{
    display: none;

}

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0,0,0,0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}
